
.checkout-form--container {
    width: 50%;
    height: auto;
    border-radius: 30px;
    background-color: var(--surfaceColor)
}

.checkout-add-button {
    width: 140px;
    height: 50px;
    border-radius: 20px;
    transition: all .25s ease;
    background-color: var(--surfaceColorSecondary);
    margin-left: 10px;
}

.checkout-add-button:hover {
    opacity: .8;
    transition: all .25s ease;
}

@media screen and (max-width: 800px) {
    .checkout-form--container {
        width: 80%;
    }
}
