
.payment-card--container {
    cursor: pointer;
    width: 120px;
    height: 140px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid rgba(256, 256, 256, 0.3);
    transition: all .25s ease;
}

.payment-card--container:hover {
    opacity: 0.8;
    transition: all .25s ease;
}